body {
	background: white;
}


/* LAYOUT OF ENTRIES */

.entry-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:flex-start;
	gap: 1.5vw;
}

.entry {
	max-width: 65ex;
}



/* LAYOUT OF ENTRY */

.entry {
	display: flex;
	flex-direction: column;
}

.metadata {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1em;
}

.title {
	font-family: "Libertinus Sans";
	font-weight: bold;
}



/* INNER DESIGN OF ENTRIES */

.entry {
	background: whitesmoke;
	padding: 1em;
	border: 2px solid black;
	border-radius: 0.5vw;
}

.entry > hr {
	border: 1px solid gray;
	width: 100%;
}

.description {
	text-align: justify;
}


/* TAGS */

.tags {
	margin-top: 1em;
}


/* TABLE OF CONTENTS */

.toc .toc-title {
	font-family: "Libertinus Sans";
	font-weight: bold;
}



/* LAYOUT OF SOURCES */

.sources {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1em;
}

.source {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
}

.source a {
	color: black;
	text-decoration: none;
}

.source a:hover {
	text-decoration: underline;
}

.source a::before {
	content: "";
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: top;
	background-size: 1em 1em;
}

.gitlab a::before {
	background-image: url(logos/gitlab.svg);
}

.pdf a::before {
	background-image: url(logos/pdf.svg);
}

.github a::before {
	background-image: url(logos/github.svg);
}

.website a::before {
	background-image: url(logos/webside.svg);
}



/* FONT SETTINGS */

html {
	font-family: "Libertinus Serif";
	font-size: larger;
	font-variant-numeric: oldstyle-nums;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Libertinus Sans";
	font-variant-numeric: oldstyle-nums;
}

.tags {
	font-size: smaller;
	font-style: italic;
	color: dimgray;
}



/* LIBERTINUS FONTS */

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-regular.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-italic.woff2")
	     format("woff2");
	font-style: italic;
	font-weight: normal;
}

/* @font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-semibold.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: bolder;
}

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-semibolditalic.woff2")
	     format("woff2");
	font-style: italic;
	font-weight: bolder;
} */

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-bold.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-bolditalic.woff2")
	     format("woff2");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Libertinus Sans";
	src: url("fonts/libertinussans-regular.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Libertinus Sans";
	src: url("fonts/libertinussans-italic.woff2")
	     format("woff2");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Libertinus Sans";
	src: url("fonts/libertinussans-bold.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: bold;
}
